@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500&family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,300;1,400&display=swap");

body {
    font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
}

.link-unstyled{
    color:black;
    text-decoration: none;
}

.fs-16 {
    font-size: 16rem;
}

.fs-3 {
    font-size: 3rem;
}

.fs-2 {
    font-size: 2rem;
}

.fs-4 {
    font-size: 4rem;
}

.fs-6 {
    font-size: 6rem;
}

.fs-8 {
    font-size: 8rem;
}

.fs-10 {
    font-size: 10rem;
}

.fspx-15{
    font-size: 15px;
}
.fspx-24{
    font-size: 24px;
}
.fspx-18{
    font-size: 18px;
}

.fw-400{
    font-weight: 400;
}
.fw-600{
    font-weight: 600;
}


.carousel-item img {
    height: 400px;
}

.bg-none {
    background: none !important;
}
.bg-grey {
    background-color: rgb(230, 228, 228);
}

section:not(:first-child) {
    margin-top: 3rem;
}

.section-icon {
    width: 2rem;
}
.card-header {
    background: none;
    border: 0;
    border-radius: 0px;
}

.intro{
    background-image: url("{{ asset('assets/frontend/images/bannerbg.jpg') }}")
}
.card {
    border-radius: 0;
}

.education-item {
    position: relative;
    border-left: 2px solid grey;
}

.education-item::after {
    content: "";
    background-color: grey;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    top: 30px;
    left: -8px;
}
.edu-details {
    width: 100%;
    margin-top: 20px;
    margin-left: 30px;
}
.inner-education > p {
    width: 20%;
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .carousel-item img {
        height: 250px !important;
    }

    .inner-education > p {
        width: 100%;
    }

    .edu-details {
        width: 100%;
        margin-top: 20px;
        margin-left: 20px;
    }
    .fspx-24{
        font-size: 18px;
    }
    .fspx-18{
        font-size: 14px;
    }
}
